.App {
  text-align: center;
}
body{
  background-color:slategray;
}
.cards{
  width:100%;
  height:auto;
  
}
.card{
  margin:6%;
  transition:all 0.4s cubic-bezier(0.175,0.885,0,1);
  background-color: #fff;
  width:21.25%;
  border-radius: 12px;
  box-shadow: 0px 13px 10px -7px black;
  float:left;
  
}
.card:hover{
  box-shadow:0px 30px 18px -8px black;
  transform: scale(1.05,1.05);
}

.card-img{
  height:200px;
  width:200px;
}
